/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */


@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);


.social-login-more {width: 45%; }

.divImage .dropdown-toggle, .dropdown-menu,.divColor .dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin: auto }
.btn-group .dropdown-toggle { padding-right: 50px }


.btn-group .dropdown-menu li {float: left; }
.divImage .btn-group .dropdown-menu li img {width: 32px; height: 32px;}
.divImage .btn-group .dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.divImage .btn-group .dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
.divImage .btn-group .btn.btn-default.dropdown-toggle {padding: 20px; border-width: 0px;background: transparent; }
.divImage .btn-group .btn.btn-default.dropdown-toggle:hover {background: transparent; }
.divImage .btn-group .btn.btn-default.dropdown-toggle img {display: block; width: 70%;margin: auto; }

.divInfo {padding: 6em 0; }

.divInfo .Name,
.divInfo .firsteName {margin: 10px; }
.divColor {padding: 6em 0; }
.divColor .btn-group .btn.btn-default.dropdown-toggle{padding: 5px 20px; border-width: 0px; box-shadow: none;width: 115px;    height: 40px;background: transparent;} 
.divColor .btn-group .btn.btn-default.dropdown-toggle img{display: block; width: 32px; margin: 0;}
.divColor .btn-group .dropdown-toggle .glyphicon { position: relative; top: -25px; left: 15px;}
.divColor .btn-group .dropdown-menu li img {width: 32px; height: 32px;}
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover{background-color: transparent; border-color: transparent; }
.divAdresse .rowTitle {overflow: hidden; }
.divAdresse .rowTitle .title {float: left; width: 90%; }
.divAdresse .rowTitle  .divAdd {float: left; width: 7%; }
.divAdresse .rowTitle  .divAdd .glyphicon.glyphicon-plus {position: relative; top: 15px; background: #337ab7; padding: 10px; color: #fff; border-radius: 20px; }
.divAdresse .item {border: 1px solid #ccc; padding: 15px; margin-bottom: 10px; background: #eee; }
.divAdresse .item .itemAdresse {font-size: 16px; font-weight: bold; }
.divAdresse .item .itemSubAdresse {color: #777; }
#adress1, #adress2{
 padding-top: 30px;
 background: #eee none repeat scroll 0 0;
}